body{
    background-color:rgb(9, 9, 54);
}
.container{
    background-color: rgb(4, 59, 4);
    position: relative;
    height: 400px;
}
.parent{
    width: 70%;
    text-align: center;
    background-color: rgb(2, 2, 83) ;
    margin: auto;
    margin-top: 200px;
}
.box{
    width: 150px;
    height: 150px;
    display: inline-block;
}
.box1{
    background-color: rgb(163, 163, 255);
}
.box2{
    background-color: white;
    position: absolute;
    top: 20px;
    left: 20px;
}
.box3{
    background-color: rgb(182, 14, 14);
}